<mat-toolbar color="primary" class="mat-elevation-z4" *ngIf="isLoggedIn$ | async as isLoggedIn">
    <mat-toolbar-row>
        <ul>
            <li>
                <button mat-button routerLink="/dashboard" routerLinkActive="nav-active">
                    <mat-icon>dashboard</mat-icon>
                    Kurzusaim
                </button>
            </li>
            <li>
                <button mat-button routerLink="/curriculum" routerLinkActive="nav-active">
                    <mat-icon>view_carousel</mat-icon>
                    Tanrend
                </button>
            </li>
            <li>
                <button mat-button routerLink="/map" routerLinkActive="nav-active">
                    <mat-icon>map</mat-icon>
                    Hol a termem?
                </button>
            </li>
            <li>
                <button mat-button routerLink="/contacts" routerLinkActive="nav-active">
                    <mat-icon>supervisor_account</mat-icon>
                    Elérhetőségek
                </button>
            </li>
            <li class="nav-logout">
                <button mat-button (click)="onLogout()">
                    <mat-icon>logout</mat-icon>
                    Kilépés
                </button>
            </li>
        </ul>
    </mat-toolbar-row>
</mat-toolbar>
