.img-card {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
}

.button-row > button {
    margin-right: 10%;
}

.button-row > button:last-child {
    margin-right: 0;
}